@media only screen and (max-width: 767px) {
    #about-container {
        margin-left:0 !important;
        margin-right:0 !important;
    }
}

.about {

    margin-top:5vh;
    margin-bottom:5vh;

    .content {
        padding: 0 0 5vh 0;
    }

    .social-buttons {
        max-width: 400px;
        margin: auto;
    }

    .selfie {
        margin: auto;
        padding: 0.5rem;
        display:flex;
        align-items: center;
        justify-content: center;
        height:100%;
        img {
            max-height: 500px;
            max-width: 300px;
            margin:auto;
        }
    }

    .me-skills {
        box-shadow: 1px 0px 3px 0px rgba(0,0,0,.2);
    }

}