@import "../App";
.contact-form {
    max-width: 500px;
    margin: auto;
    padding-bottom: 7vh;

    p {
        //color: rgb(100, 53, 201);
        color:white;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }
    label {
        color:white !important;
    }

    .submit-button {
        width:100%;
        text-align: center;
    }
}