@import "../../index";
@import "../App";
.comp-item {
    padding:1rem 0;
    .comp-icon {

        width: 6rem;
        height: 6rem;
        //background-color: #6435c9;
        background-color: $light-brown;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin: auto;

    }

    .comp-name {
        margin-top:1rem;
    }

    .comp-subcontent {
        margin-top:1rem;
    }
}